body{
    backgroundColor: "grey"
}
.export{
    margin : 6px;
}
.top-container
{
    width : 100%;
    display: flex; 
    flex-direction: column; 
    font-family: SUSE;

}

.DateInput_input{
    font-weight : bold;
}

.date-picker{
    margin-right: 1em;
    margin-bottom: 5em;
    width: 50em;
}

.selector-panel {
    padding: 2em;
    background-color: #EEEEEE;
}


.card-measures
{
    background-color: rgba(244, 246, 255, 1);
    transition: transform 0.15s;
}

.card-graph
{
    background-color: rgba(0,128,128,0.08);
}

.card-measures:hover {
  transform: scale(1.05);
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.graph
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: lightblue;
    transition: height 0.5s ease;
}



.graph-figure
{
    margin: 1em;
    width: 45vw;
    height: 500px;
}

.graph-container
{
    flex-grow: 1;
}


